@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// RESET CSS
button{background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
a {color: #fff; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; color:#fff;}

body{font-family: 'Pretendard' !important;}

// HEADER
$primary: #FF6869;
$font : 'Pretendard';


// MAIN CONTAINER
.main-container {
  .img-content {
    .btn_area {
      display: flex;
      margin-bottom: 40px;
      margin-top: 50px;
      justify-content: space-around;
      .btn_content {
        width: 40%;
        display: flex;
        justify-content: center;
        background-color: $primary;
        border-radius: 50px;
        .a_btn {
          padding: 10px 20px;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
    .section {
      .text_area {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        p {
          font-size: 20px;
          font-weight: bold;
          margin-top: 30px;
        }
      }
    }
  }
}

// SCROLLTOTOP AREA
.scrollToTopBtn {
  background-color: #FF9C9D;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  display: flex;
  padding: 10.5px 10px;
  .top-arrow-icon {
    width: 100%;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}